<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <a [routerLink]="['/home']"><img class="logo" src="images/logo.png"></a>
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['/home']">HOME</a>
        <a class="mdl-navigation__link" [routerLink]="['/about']">ABOUT</a>
        <a class="mdl-navigation__link" [routerLink]="['/items']">ITEMS</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content content-max-width">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
